tmp/
components/
managed_components/
build/
dist/
.vscode/
.devcontainer/
sdkconfig.old
sdkconfig
dependencies.lock
.env
.env.*
releases/
main/assets/lang_config.h
main/mmap_generate_emoji.h
.DS_Store
.cache
__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.log
*.tmp
*.bak
*.swp
*.swo
*.bin
*.zip
*.7z
*.rar
*.tar
*.tar.gz
*.tgz
mmap_generate_*.h
.clangd
