tmp/
components/
managed_components/
build/
dist/
.vscode/
.devcontainer/
sdkconfig.old
sdkconfig
dependencies.lock
.env
.env.*
releases/
main/assets/lang_config.h
esp32-s3r16n8-idf/main/assets/lang_config.h
main/mmap_generate_emoji.h
esp32-s3r16n8-idf/main/mmap_generate_emoji.h
esp32-wroom-32-arduino/Config.private.h
.DS_Store
.cache
__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.log
*.tmp
*.bak
*.swp
*.swo
*.bin
*.elf
*.hex
*.map
*.o
*.a
*.d
*.zip
*.7z
*.rar
*.tar
*.tar.gz
*.tgz
mmap_generate_*.h
.clangd
